<html>
  <head>
    <title>Welcome to {{ item.host_name }}!</title>
  </head>
  <body>
    <h1>Success! The {{ item.host_name }} server block is working!</h1>
    <p>{{ ansible_managed }}</p>
  </body>
</html>
